{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "cypress",
    "chai-friendly",
    "jsx-a11y",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:cypress/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier:@typescript-eslint",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "comma-dangle": [2, "never"],
    "react/jsx-props-no-spreading": [0, "ignore"],
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": [
      "error",
      { "allow": ["__REDUX_DEVTOOLS_EXTENSION__", "__typename"] }
    ],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn", // Checks effect dependencies
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/camelcase": "off", // covered by eslint/camelcase
    "no-restricted-globals": "off",
    "no-undef": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": ["**/*.js", "**/*.jsx"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["**/*.spec.ts", "**/*.spec.tsx", "util/**/*.*"],
      "rules": {
        "no-unused-expressions": "off",
        "spaced-comment": "off",
        "func-names": "off",
        "no-console": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": ["error"]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".graphql"]
      },
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "globals": {
    "window": true
  }
}
